.header{
    width: 100%;
    background-color: grey;
    height: 70px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    border-radius: 20%;
}