.piechartbar{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.piechartbar-container{
    width: 90%;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
}
.piechartbar-heading{
    display: flex;
    align-items: center;
}